phonegap/Clarins/platforms/
phonegap/Clarins/plugins/
phonegap/Clarins/www/css/
phonegap/Clarins/www/fonts/
phonegap/Clarins/www/img/
phonegap/Clarins/www/js/
phonegap/Clarins/www/spec/
phonegap/Clarins/www/spec.html
phonegap/Clarins/www/res/
phonegap/Clarins/icon.png
/phonegap/zip*
phonegap/Clarins/www/index.html
phonegap/Clarins/npm-debug.log
bower_components/
build/node_modules
build.zip
sass/
test/
.idea/
.tmp/
.sass-cache/
dist/
phonegap/Clarins/.vs/
orange-for-clarins.iml